html 
{
    font-size: 100%;
}

body
{
    background-color: #f0f0ff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    font-size: 0.875em;
}

#section
{
    height: 768px;
	min-width: 1024px;
	max-width: 100%;
	color: #181818; 
    font-family: "Times New Roman", "Trebuchet MS", Helvetica, Arial, sans-serif;
    width: 50em;
    margin: auto;
    padding: 0.1em;
}

h1
{
	color: #A07009;
    font-style: italic;
    font-size: 2.5em;
	margin-top: 0.8em;
	margin-bottom: 1em;
}

select {
    text-align: left;
    margin:0.1em 0.3em 0.1em 0.3em;
    font-size: 0.875em;
}

input[type=text] {
    text-align: right;
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: 4em;
}

input[type=button] {
    font-size: 0.875em;
    padding: 0px 5px 0px 5px
}

input[disabled=disabled] {
    color: #aaaaaa;
}

.InProgress {
    font-style: italic;
    font-size: 0.5em;
    color: #ff5555;
}

.labelledForm {
    display: inline-block;
    margin: 0em 0.5em 0em 0em;
}

.ParamSection {
    padding-left: 0.6em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.1em;
    margin-left: 0.8em;
    background-color: #d1d1d1;
}

.row {
    margin:0.2em;
}

.ParamPart {
    width: 33%;
    float: left;
}

.CommentPart {
    width: 63%;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    float: left;
    height:11.5em;
    margin: 5px 5px 5px 10px;
    padding: 5px 5px 5px 10px;
}

.CommentPart p {
    margin-top:0em;
    margin-bottom:0.5em;
}

.CommentPart ul
{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-left: 1.5em; /* pour éviter la superposition du contenu */
}

label {
    color: darkslateblue;
}

.wsTitle {
    margin-left: 0.5em;
    font-style: italic;
    color: #4a866a;
}

.chart {
    display: inline-block;
    width: 46%;
    margin: 5px;
    padding: 5px;
}

#ChartsPart {
    background-color: #dedede;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#TrmAppli
{
	vertical-align: top;
    padding: 5px;
    background-color: #c9c9c9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
}

#ParamsAndComments {
    border: 1px solid #ccc;
}

#ParamsCommentsAndTabs {
    border: 1px solid #dedede;
    border-top: none;
    height:16.5em;
}

/* Style the list */
ul.tabsBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dedede;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tabsBar li {
    float: left;
}

/* Style the links inside the list items */
ul.tabsBar li span {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.8em 0.8em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
}

/* Change background color of links on hover */
ul.tabsBar li span:hover,
ul.tabsBar li span.focused {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tabsBar li span:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.Comment {
    display: none;
}

.c3-line {
  stroke-width: 1.5px;
}

span.increaseDate,
span.decreaseDate {
    font-family: monospace;
    background-color: #ddd;
    color: #555;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    cursor: pointer;
}

span.decreaseDate {
    margin-right: 0.2em;
}

span.increaseDate {
    margin-left: 0.2em;
}

span.increaseDate:hover,
span.decreaseDate:hover {
    background-color: #bbb;
}

#AccountsChart .c3-line-scaled-dividend, #DividendChart .c3-line-scaled-average, #MonetarySupplyChart .c3-line-cruising-monetary-supply {
  stroke-width: .5px;
}

span.account, 
span.average, 
span.stableAverage,
span.dividend,
span.stableDividend,
span.headcount,
span.monetarySupply,
span.stableMonetarySupply {
    background-color: #dedede;    
    padding: 0px 2px 0px 2px;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    white-space: nowrap;
    transition: 0.3s;
}

.current:not(.nolink), .previous, .previous2 {
    cursor: pointer;
}

span.workshopsTabLink,
span.growth,
span.dividendTabLink,
span.referenceTabLink,
span.boundsTabLink,
span.accountsTabLink,
span.demographyTabLink,
span.transactionsTabLink {
    padding: 0px 2px 0px 2px;
    cursor: pointer;
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    white-space: nowrap;
    transition: 0.3s;
}

.bouncy {
    position: relative;
    animation: bouncy 4s infinite linear;
}
@keyframes bouncy {
    0% { top: 0em; }
    40% { top: 0em; }
    43% { top: -0.5em; }
    46% { top: 0em; }
    48% { top: -0.2em; }
    50% { top: 0em; }
    100% { top: 0em; }
}
