.title {
    font-size: large;
    margin: 1em;
    text-align: center;
}

body {
    color: darkslateblue;
}

select {
    text-align: left;
    margin:5px;
}

input {
    text-align: right;
}

input[disabled=disabled] {
    color: #aaaaaa;
}

form {
    width: 100%;
}

label {
    display: inline-block;
    color: darkslateblue;
    margin-left: 5px;
    padding-left: 5px;
}

.leftComp {
    display: inline-block;
    width: 40%;
    text-align: right;
    margin:5px;
}

.row {
    width: 100%;
}

.chart {
    display: inline-block;
    width: 48%;
    margin: 5px;
    padding: 5px;
}

.frame {
    margin: 5px;
}
